

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px red solid;
}

ol, ul {
    list-style: none;
  }


  
table {
    border-collapse: collapse;
    border-spacing: 0;
  }

body{
    background-color: lightcoral;
    background: url(./imagenes/MONBOMBONWEB.jpg) no-repeat fixed;
    background-size: cover;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

@media only screen and (max-width: 1020px) {
    html {
      font-size: 15px;
    }
  }

@media only screen and (max-width: 800px) {
    .rayita{
        display: none;
    }
}
/* NAV  */
header{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 5.5rem;
    width: 80%;
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
}
nav{
    display: flex;
    align-items: center;
    width: 80%;
    height: 5.5rem;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    position: fixed;
    background-color: #ffe3e5bd;
    z-index: 1000;
    overflow: hidden;
    flex-wrap: wrap;
    text-align: center;
}
nav a{
    margin: 0 2rem;
    font-size: 1.1rem;
    text-decoration: none;
    text-align: center;
    color: black;
}
nav a:hover{
    color: rgb(102, 102, 102);
}
.rayita{
    height: 1.5rem;
    width: 0.05rem;
    background-color: black;
}
/* BURGER */
.burger{
    margin: 0 0.1rem;
    
}
.stripe{
    width: .7rem;
    height: .17rem;
    margin: .1rem .5rem;
    background-color: darkblue;
    
}

/* MAIN */
/* main{
    margin-top:80px;
} */
/* BANNER-LOGO */
.banner{
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffe3e5bd;
}
.banner img{
    width: 100%;

}
.banner h1{
    font-size: 100px;
    color: rgb(44, 44, 44);
}
.banner h3{
    width: 90%;
    color: white;
    font-size: 44px;
    text-align: right;
}
/* SOBRE-NOSOTROS */
.sobre-nosotros{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #c7e5d6b4;
    width: 80%;
    margin: 2rem auto;
}
.texto-sobre-nosotros{
    display: flex;
    flex-direction: column;
}
.sobre-nosotros-titulo{
    width: 60%;
    margin-left: 15%;
    margin-top: 10%;
}
.sobre-nosotros h1{
    font-size: 48px;
    font-weight: 400;
    line-height: 3rem;
}
.sobre-nosotros-parrafo{
    width: 60%;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 2rem;
    z-index: 3;
}
.texto-sobre-nosotros p{
    
    font-size: 18px;
    text-align: left;
}
.sobre-nosotros-corazon{
    top: 20%;
    left: 70%;
    position: absolute;
    z-index: 2;
    opacity: 0.7;
    width: 25%;
}
.sobre-nosotros-corazon img{
    width: 100%;
}

/* MENSAJE SOBRE NOSOTROS  */

.mensaje-sobre-nosotros{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 2rem auto;
}
.mensaje-sobre-nosotros img{
    width: 100%;
    object-fit: contain;
    z-index: 10;
} 
.background-container{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.square-1{
    height: 100%;
    width: 54%;
    background-color: #d0eaea96;
}
.square-2{
    height: 100%;
    width: 46%;
    background-color: #f4f7bf91;
}